html  {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.bg-nav{
    background: rgba(black, black, black, 0.50) !important;
}

.bg-login{
    background-image: url("../photos/loginpage.png");
    background-size: cover;
}

.bg-regis{
    background-image: url("../photos/regispage.png");
    background-size: cover;
}

.border-gradient{
    border-image-source: linear-gradient(to bottom, #3B82F6, #4338CA, #3B82F6);
    border-image-slice: 1;
}
